@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}
.background-color{
    background-color: #636c79;
    width: 100%;
    height: 100vh;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    position: relative;
    top: 30px;
    

}
.navbar .navbar-logo .navbar-image-logo{
    width: 100px;
}
.navbar .grow{
    position: relative;
    right: -150px;
}
.grow .list{
    display: flex;
    flex-direction: row;
}
.grow .list .list-item{
    font-size: 15px;
    margin: 0 20px;
    color: #d2d4d8;
    list-style-type: none;

}
.background-color .navbar-button .nav-button{
    font-size: 15px;
    padding: 10px 40px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #6c737e;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    position: relative;
    top: 70px;
    
}
.hero .hero-left{
    flex: 1;
}
.hero .hero-left .hero-left-image{
    width: 28rem;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
}
.hero .hero-left .hero-left-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero .hero-right{
    flex: 1;
    position: relative;
    top: -20px;
}
.hero .hero-right .hero-right-heading h2{
    font-size: 55px;
    color: #ffffff;

}
.hero-right .hero-right-paragraph p{
    color: #bbbfc4;
    margin: 20px 0px;
    line-height: 35px;
    font-size: 20px;

}
.hero-right .form{
    
    height: 70px;
    width: 520px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-right .form i{
    position: relative;
    left: -25px;
}
.hero-right .form input[type=email]{
    position: relative;
    left: -70px;
    width: 235px;
    border: none;
}
.hero-right .form  input[type="email"]::placeholder{
    font-size: 16px;
    color: #a6a7a8;
}
.hero-right .form .form-btn{
    width: 85px;
    height: 42px;
    color: #ffffff;
    background-color: #8bb7a2;
    border: none;
}
.connections{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    position: relative;
    top: 100px;
}
.connections .connections-heading{
    width: 100%;
}
.connections .connections-heading h2{
    text-align: center;
    font-size: 35px;
}
.connections .connections-number{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 55px;
}
.connections .connections-number h2{
    font-size: 40px;
}
.connections .connections-number h5{
    color: #626262;
    font-size: 15px;
}
.connections .connection-image{
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    top: 120px;
}
.connections .connection-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-card{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    position: relative;
    top: 300px;
}
.main-card .main-card-headign{
    width: 100%;
}
.main-card .main-card-heading h2{
    text-align: center;
    font-size: 30px;
    color: #1b1d21;
}
.main-card .card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 70px;
    margin-bottom: 50px;
}
.card .left-card h2{
    font-size: 40px;
    color: #1b1d21;
}
.card .left-card p{
    font-size: 15px;
    color: #5c5e61;
    line-height: 35px;
}
.card .right-card{
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.card .right-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .button-card{
    width: 156px;
    height: 47px;
    color: #ffffff;
    background-color: #8bb7a2;
    border: none;
    margin-top: 20px;
}
.teams{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    position: relative;
    top: 400px;
    
}
.teams .teams-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.teams .teams-description .teams-description-left{
    flex: 1;
}
.teams .teams-description .teams-description-right{
    flex: 1;
}
.teams .teams-description .teams-description-left h2{
    font-size: 30px;
    color: #1b1d21;
    
}
.teams .teams-description .teams-description-right p{
    font-size: 15px;
    color: #5c5e61;
    line-height: 30px;
    position: relative;
    right: -70px;

}
.teams .team-members{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.teams .team-members .team-member{
    display:  flex;
    flex-direction: column;
    
}
.team-members .team-member .member-photo{
    width: 400px;
    height: 550px;
    overflow: hidden;
}
.team-members .team-member .member-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-members .team-member .member-name h3{
    font-family: "Raleway";
    margin: 5px 0px ;
}
.team-members .team-member .member-description p{
    font-family: "Raleway";
    margin: 5px 0;
}
.teams .team-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}
.teams .teams-button{
    display: block;
    width: 156px;
    height: 47px;
    color: #ffffff;
    background-color: #8bb7a2;
    border: none;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: #10181d;
    position: relative;
    top: 500px;
    display: flex;
    flex-direction: column;
}
.footer .footer-logo{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0px;
}
.footer .footer-logo .logo-image img{
    width: 100px;
}
.footer .footer-logo .socialmedia-img ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.footer .footer-logo .socialmedia-img ul li{
    margin: 0 10px;
}
.footer .footer-logo .socialmedia-img ul li span{
    background-color: rgba(255, 255, 255, 0.093);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 500px;
}
hr{
    position: relative;
    width: 90%;
    margin: auto;
    top: -35px;
}
.footer .footer-items{
    display: flex;
    flex: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-items .footer-item  h3{
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: normal;
}
.footer .footer-items .footer-item  ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 600;
}

